<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874017520856-iofg28tvb9dmnbfd0ugpibflge1oeqni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874017520856-iofg28tvb9dmnbfd0ugpibflge1oeqni</string>
	<key>API_KEY</key>
	<string>AIzaSyDlpRo8OxUiHPKzA-TBEKrDqUDZNHOLRlA</string>
	<key>GCM_SENDER_ID</key>
	<string>874017520856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.debug</string>
	<key>PROJECT_ID</key>
	<string>debug-348b2</string>
	<key>STORAGE_BUCKET</key>
	<string>debug-348b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874017520856:ios:479198774de0b2834eebad</string>
	<key>DATABASE_URL</key>
	<string>https://debug-348b2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>